{% extends "layout.html" %}
{% block content %}
	<h1>About Page</h1>

	<br>
	<p>Since 2020 here at Stylish Weather we have been using accurate weather readings coupled with our 
	inventory of various clothing items to help our clients prepare themselves to face whatever weather 
	the world throws at them! </p>
	<br>
	<p>All of our weather readings are sourced from Weather.com, a company headed by IBM. Which has been
	accurately reporting daily weather readings around the globe since 2014.</p>

{% endblock content %}